
.login-form{
  width: 100%;
  justify-content: space-around;
}

::ng-deep .form-content .profile{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 150px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  border: 10px #fff solid;
}
::ng-deep .form-content .profile img{
  width: 105px;
  max-height: 105px;
}
::ng-deep app-root,
::ng-deep app-signin{
  height: 100%;
  display: block;
}
::ng-deep app-signin{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  justify-content: center;
  background: url("../../assets/images/fond.jpg") no-repeat center;
  background-size: cover;
}
::ng-deep .mx-350{
  max-width: 350px;
  width: 100%;
  gap: 4rem;
}
::ng-deep .login-form .logo{
  width: 100%;
  max-width: 430px;
}
::ng-deep .login-form .logo img{
  width: 100%;
}
@media (max-width: 992px) {
  .login-form .logo{
    display: flex;
    justify-content: center;
  }
  .login-form{
    flex-direction: column;
    gap: 76px!important;
    align-items: center;
  }
  .login-form .logo img{
    max-width: 155px;
    width: 100%;
    height: auto;
  }
}
