<div style="max-height: 500px; overflow-y: auto;">


  <div style="display: flex;justify-content: flex-end;">
    <button (click)="dialogRef.close()" class="btn-close">
      <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#292D32"/>
        <path d="M13.0594 12.0001L15.3594 9.70011C15.6494 9.41011 15.6494 8.93011 15.3594 8.64011C15.0694 8.35011 14.5894 8.35011 14.2994 8.64011L11.9994 10.9401L9.69937 8.64011C9.40937 8.35011 8.92937 8.35011 8.63938 8.64011C8.34938 8.93011 8.34938 9.41011 8.63938 9.70011L10.9394 12.0001L8.63938 14.3001C8.34938 14.5901 8.34938 15.0701 8.63938 15.3601C8.78938 15.5101 8.97937 15.5801 9.16937 15.5801C9.35937 15.5801 9.54937 15.5101 9.69937 15.3601L11.9994 13.0601L14.2994 15.3601C14.4494 15.5101 14.6394 15.5801 14.8294 15.5801C15.0194 15.5801 15.2094 15.5101 15.3594 15.3601C15.6494 15.0701 15.6494 14.5901 15.3594 14.3001L13.0594 12.0001Z" fill="#292D32"/>
      </svg>
    </button>
  </div>

  <h1>Demande Act de naissance</h1>

  <mat-stepper #stepper [linear]="false">
    <mat-step [stepControl]="formDataForm" errorMessage="Chaque champs est obligatoire.">
      <form [formGroup]="formDataForm" class="d-flex flex-column form-field-show w-100">
        <ng-template matStepLabel>Les éléments nécéssaire</ng-template>
        <mat-form-field>
          <mat-label>Motif</mat-label>
          <input matInput placeholder="Texte" formControlName="reason" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Texte" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Texte" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker class="text-black" #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lieu de naissance</mat-label>
          <input matInput placeholder="Texte" formControlName="placeOfBirth" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom du père</mat-label>
          <input matInput placeholder="Texte" formControlName="fathersName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom du mère</mat-label>
          <input matInput placeholder="Texte" formControlName="mothersName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="Texte" formControlName="address" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sex</mat-label>
          <select class="text-black" matNativeControl required formControlName="sex">
            <option value="M">Homme</option>
            <option value="F">Femme</option>
          </select>
        </mat-form-field>
        <div>
          <h3>Chaque champs est obligatoire</h3>
          <div class="d-flex gap-4 justify-content-end p-4" style="position: relative; z-index: 0">
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button matStepperNext (click)="onNextClick()">Enregister les informations</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" errorMessage="Le champs Date de rendu est obligatoire.">
      <form (ngSubmit)="openSuccessSnackBar()" class="d-flex flex-column form-field-show w-100">
        <ng-template matStepLabel>Documents justificatifs</ng-template>
        <div class="form-file">
          <div class="content">
            <label for="file">
              <span>Fichier</span>
            </label>
            <input type="file" id="file" class="d-none" (change)="onFileSelected($event)" name="file" accept=".jpg, .png, .pdf">
          </div>
        </div>
        <div>
          <h3>Le champs du document est obligatoire</h3>
          <div class="d-flex gap-4 justify-content-end">
            <button mat-button type="submit">Enregister le fichier</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>

</div>
