<div class="wrap-sidebar-nav">

  <div class="sidebare-page">
    <div class="toolbar">
      <div class="nav-menu ">
        <div class="logo">
          <img src="../../assets/images/commune.png" alt="">
          <span class="text-white">e-gouvernance</span>
        </div>
        <div class="avatar d-flex align-items-start ">
          <div class="d-flex align-items-center gap-4">
            <div class="img">
              <img src="../../assets/images/profile.jpg" alt="">
            </div>
            <div>
              <button mat-button [matMenuTriggerFor]="menu">{{ userName }}</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                  <span class="d-flex align-items-center justify-content-center">
                     Déconnexion
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1"
                         viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                      <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                  </span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <mat-list role="list" class="list-menu d-flex">
        <mat-list-item role="listitem" class="text-black" (click)="homePage()">
          <div class="d-flex align-items-center gap-4 actus">
            Actualités
          </div>
        </mat-list-item>
        <mat-list-item role="listitem" class="text-black" (click)="demande()">
          <div class="d-flex align-items-center gap-4 demande">

            Demandes
          </div>
        </mat-list-item>
        <mat-list-item role="listitem" class="text-black" (click)="information()">
          <div class="d-flex align-items-center gap-4 info">
            Informations
          </div>
        </mat-list-item>
      </mat-list>

    </div>

    <div class="search-block">
      <div class="container">
        <h2>Création de demande</h2>
        <form class="search-form">
          <mat-form-field class="example-full-width">
            <span class="ico search"></span>
            <mat-label>Search...</mat-label>
            <input type="search" matInput placeholder="Text" value="">
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="content-page-sidebare liste-card-creat">
     <div class="container">
       <div class="liste-card d-flex">
         <div class="card d-flex flex-column">
           <div class="card-img bg-white ">
             <h4>CIN</h4>
             <div class="img">
               <img mat-card-image src="../../../assets/images/cin.png" alt="Creation de CIN">
             </div>
             <p> Carte d'itentité National, une importance </p>
           </div>
           <button class="btn btn-default btn-white btn-lg" (click)="openCreateDemandeModal('CIN')"> Créer
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-1" viewBox="0 0 16 16">
               <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
             </svg>
           </button>
         </div>
         <div class="card d-flex flex-column">
           <div class="card-img bg-white ">
             <h4>Acte de naissance</h4>
             <div class="img">
               <img mat-card-image src="../../../assets/images/actnaissance.png" alt="Creation d'Act de naissance">
             </div>
             <p> Acte de naissance pour la verification de votre natalité </p>
           </div>
           <button class="btn btn-default btn-white btn-lg" (click)="openCreateDemandeModal('BIRTH CERTIFICATE')"> Créer
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-1" viewBox="0 0 16 16">
               <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
             </svg>
           </button>
         </div>
         <div class="card d-flex flex-column">
           <div class="card-img bg-white ">
             <h4>Residence</h4>
             <div class="img">
               <img mat-card-image src="../../../assets/images/residence.png" alt="Creation de residence">
             </div>
             <p> Certificat de résidence pour la verification de votre logement </p>
           </div>
           <button class="btn btn-default btn-white btn-lg" (click)="openCreateDemandeModal('RESIDENCE CERTIFICATE')"> Créer
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-1" viewBox="0 0 16 16">
               <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
             </svg>
           </button>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
